img {
  display: block;
}



.container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}



@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}







  
.swiper{
  width: 100%;
}

@media screen and (max-width: 767px){
  .swiper{
      display: none;
  }
  }

.hero{
    padding-top: 60px;
  background-color: #FEFEFE;
  background-color: transparent;
}

/* Left Column */


.hero-title {
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2C2C2C;
margin-bottom: 28px;

}

.hero-wrap{
 
font-family: 'Roboto' sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #2C2C2C;
margin-bottom: 28px;
}


.hero-button{
    border-radius: 30px;
    cursor: pointer;
    background-color: #BBF330;   
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2C2C2C;
padding: 6px 18px;
border: none;
font-family: inherit;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover{
  background-color:#B5FF00;
  
}
 






/* Swiper slide */

@media screen and (min-width: 768px) {
  
.hero-title {
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2C2C2C;
margin-bottom: 30px;
max-width: 537px;
}

.hero-wrap{
 
font-family: 'Roboto' sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2C2C2C;
margin-bottom: 30px;
max-width: 336px;
}
  
.hero{
  padding-top: 73px;
  display: flex;
}
  
  .swiper{
    width: 336px;
    height: 320px;
    box-sizing: border-box;
    background: #FEFEFE;
    margin-top: 149px;
    
    
  }
  .img-swiper{
    width: 292px;
    height: 292px;
    background-color: #FEFEFE;
    border: 14px solid #FFE550;
    border-radius: 50%;
   
}

.swiper-button-prev {
  color: #2C2C2C;
  left: -10px;
  background: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 34px;
  height: 28px;
  
  }
  
  
  .swiper-button-next {
      color: #2C2C2C;
      background: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  right: 5px;
  width: 34px;
  height: 28px;
  
  }
  .rulles{
    display: flex;
    
  }

  
   /* .npm {
        
        background-image: url(../img/bck/bck-tab-1x.jpg);
        background-position:50% 20%, bottom;
        background-repeat: no-repeat;
        
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .npm {
      background-image: url(../img/bck/bck-tab-2x.jpg);
    }
  }*/

  }











@media screen and (min-width: 1280px){

.rulles{
  display: flex;
}
  
.hero{
  padding-top: 14px;
  
background-color: #FEFEFE;
}

.hero-wrap{
  max-width: 490px;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-top: 159px;
  
  }
  .hero-wrap{
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2C2C2C;
    margin-bottom: 28px;
    
    }

.img-swiper{
    min-width: 528px;
   min-height: 528px;
    background-color: #FEFEFE;
    border: 26px solid #FFE550;
    border-radius: 50%;
}

.swiper {
    width: 608px;
    min-height: 580px;
   
    box-sizing: border-box;
    background: #FEFEFE;
    margin-top: 0;
    margin-left: 137px;
  }
  
 

.swiper-slide {
align-items: center;
display: flex;
justify-content: center;

}

.swiper-button-prev {
color: #2C2C2C;
left: 30px;
background: #FEFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;
width: 40px;
height: 48px;
}


.swiper-button-next {
    color: #2C2C2C;
    background: #FEFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;
right: 30px;
width: 40px;
height: 48px;

}

.swiper-button-prev:focus,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #7EB101;
}

/*.npm{
  max-width: 1280px;
 background-image: url(../img/bck/bck-pc-1x.jpg);
 background-repeat: no-repeat;
 background-position: bottom;
 ;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .npm{
    background-image: url(../img/bck/bck-pc-2x.jpg);
  }
}*/
}
