h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
  }
 img{
    display: block;
 }

  .container {
    max-width: 480px;
    
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 1279px) {
    .container {
      max-width: 1280px;
      
      margin-left: auto;
      margin-right: auto;
    }
  }

.hero {
    padding-top: 60px;
    padding-bottom: 50px;
}

.hero-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 1.2;
color: #2C2C2C;
margin-bottom: 28px;
}

.hero-wrap{
font-family: inherit;  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #2C2C2C;
margin-bottom: 28px;
}
.hero-button{
    border-radius: 30px;
    cursor: pointer;
    background-color: #BBF330;   
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2C2C2C;
padding: 6px 18px;
border: none;
}
.poke .hero-button:hover{
  background-color:#B5FF00;
}


@media screen and (max-width: 767px){
.slider{
    display: none;
}
}


.slider__img{
    border-radius: 291px;
}


/* Ограничивающая оболочка */ 
.slick-list {
    overflow: hidden;
} 
/* Лента слайдов */ 
.slick-track{
    display: flex;
}


   @media screen and (min-width: 768px) {
    .slider{
        max-width: 320px;
        
        
    }
    .slider__img{
      display: block;
    }
    .hero{
        padding:0 32px;
        display: flex;
        align-items: baseline;
        
    }
   
    
   .slider .slick-arrow.slick-prev{
    left: -15px;

   }
   .slider .slick-arrow.slick-next{
    right: -15px;
   }
   
.slick{
   display: flex;
}
.slider .slick-arrow{
  width: 11px;
  height: 20px;
  
}
.slider{
  border: 14px solid #FFE550;
  margin-top: 75px;
  border-radius: 50%;
}
.hero-wrap{
  max-width: 336px;
}
.poke{
  width: auto;
}
.hero-title{
  font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 1.2;

}
   }

   @media screen and (min-width: 1280px){
    .slider{
      border: 26px solid #FFE550;
      max-width: 608px;
      height: 580px;
    }
    .slider__img{
      width: 528px;
      height: 525px;
    }
    .slider .slick-arrow.slick-arrow{
     width: 40px;
     height: 48px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;
background: #FEFEFE;
z-index: 20;
    }
    .slider .slick-arrow.slick-prev{
      left: -30px;
      width: 16px;
      height: 29px;
     }
     .slider .slick-arrow.slick-next{
      right: -30px;
      width: 16px;
      height: 29px;
     }
     .hero-title{
      font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    
    }
    .hero-wrap{
      
      font-size: 16px;
      line-height: 1.5;
      
  }
  .poke{
    padding-top:159px;
    margin-bottom: 40px;
  }

  .slider .slick-arrow:hover{
    background-color:#7EB101;
    
  }
   }


   .slider{
  position: relative;
 
 
  border-radius: 50%;
 
  
   }
   .slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    border: none;
   
   }

   .slider .slick-arrow.slick-prev{
    
    background: url(./img/l.svg) 0 0/ 100% no-repeat;
   }
   .slider .slick-arrow.slick-next{
   
    background: url(./img/r.svg) 0 0/ 100% no-repeat ;
   }
   


